<div class = "aboutme">
  <div class = "intro">

      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>About Me</h2>
            <p>Hi, my name is Jonathan. I am currently a CS student working slowly towards a postbacc degree! 
            <br>I am currently working at Stanford University, while actively working on projects to improve my skills.</p>
            <br>Below is some of my work experiences and projects, click the button to see more details!</p>
          </div>


          <div class="card">
                <p>Some of my work experience: <button class="showButton" onclick = "showWork()">Show All</button> </p>
                <ul class = "work">
                  <div class="hoverWork">
                    <li>Research Coordinator - Stanford University, Cancer Institute, Tissue Bank</li>
                  </div>
                  <div id = "stanford" class = "experience">
                    <ul class="sf">
                      <li class ="exp">July 2015 – Present</li>
                      <li class ="exp">Approach patients preparing for surgery to ask about Tissue Donation</li>
                      <li class ="exp">Obtain informed consent from patients about donating surgical remains for medical research</li>
                      <li class ="exp">Deal with emotionally unstable or hostile patients in a professional manner</li>
                      <li class ="exp">Maintain clear tracking of consents and surgical sample data in oncore database </li>
                      <li class ="exp">Follow HIPAA guidelines for interacting with patients and work environment</li>
                    </ul>
                  </div>
                  <br>
                  <div class="hoverWork">
                    <li>Health Specialist - The Unity Council - Early Head Start Preschools, Oakland, CA</li>
                  </div>
                  <div id = "unitycouncil" class = "experience">
                    <ul class="uc">
                        <li class ="exp">2007 – 2008</li>
                        <li class ="exp">Work with underserved communities in the Oakland area particularly focusing on families with children from 0-3 years of age </li>
                        <li class ="exp">Educate parents and preschool age children about Health topics </li>
                        <li class ="exp">Answer questions and give lectures about preschool age health issues including hearing loss, SIDS, lead poisoning and vaccinations. </li>
                        <li class ="exp">Closely monitoring and recording health information of children including data from physical exams and immunization records </li>
                        <li class ="exp">Using ChildPlus database system to access and maintain health information</li>  
                    </ul>
                  </div>
                </ul>
          </div>


          <div class="card">
            <p>Some of my hobbies are:</p> 
            <ul class = "hobbies">
              <li class = "hobby">Watching Sports: NBA, NFL </li>
              <li class = "hobby">Video Games: Nintendo Switch</li>
              <li class = "hobby">Badminton</li>
              <li class = "hobby">Hiking</li>
              <li class = "hobby">Traveling with my family</li>
            </ul>
          </div>
          <div class="card">
            <div class="fakeimg"><img class="aboutImg" src="/images/5.jpg"></div>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>Resume</h2>
            <p><a style="color:#6591b5; text-decoration:underline;" href="/files/reyejonaCV.pdf">Click here to download</a></p>
          </div>
          <div class="card">
            <img class="aboutImg" src="/images/4.jpg"><br>
          </div>
        </div>
      </div>

  </div>
</div>

<script type="text/javascript" src="/js/home.js"></script>