<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!---<link rel="stylesheet" href="css" type="text/css">--->
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/home.js"></script>
    
  </head>
<body>
  <a id="banner" href="/"><div class = "banner" style="text-align:center"><div id="logo"><img src="/images/logo.jpg" height="100%" width="auto"></div></div></a>
 
  <ul class = "menu">
    <li class = "navi"><a id = "home" class = "naviLink" href="/">Home</a></li>
    <li class = "navi"><a id = "about"class = "naviLink" href="aboutme">About</a></li>
    <li class = "navi"><a id = "contact" class = "naviLink" href="contact">Contact</a></li>
    <li class = "navi"><a id = "portfolio" class = "naviLink" href="portfolio">Portfolio</a></li>
  </ul>

  

	{{{body}}}


  <ul class = "footer">
    <li class = "foot"><a id = "twitter" class = "socialLink" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">Twitter</a></li>
    <li class = "foot"><a id = "facebook"class = "socialLink" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
    <li class = "foot"><a id = "linkedin" class = "socialLink" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
    <li class = "foot"><a id = "email" class = "socialLink" href="mailto:reyejona@oregonstate.edu">reyejona@oregonstate.edu</a></li>
  </ul>

<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>