<div class="header">
  <h2>Jonathan's Portfolio</h2>
</div>

<div class="card" style="overflow:scroll" style=height="400px">
            <p>Some of my projects I have worked or am working on: <button class="showButton" onclick = "showProject()">Show All</button></p>
            <ul class = "projects">
                <li> C++ Zoo Tycoon Game
                  <div id="zooGame" class="project">
                    <div class="fakeimg"><img class="aboutImg" src="/images/1.jpg"></div>
                  </div>
                </li>
                <br>
                <li> C++ Zombie Train Board Game
                  <div id="boardGame" class="project">
                    <div class="fakeimg"><img class="aboutImg" src="/images/2.jpg"></div>
                  </div>
                </li>
                <br>
                <li> This website!
                  <div id="website" class="project">
                    <div class="fakeimg"><img class="aboutImg" src="/images/3.jpg"></div>
                  </div>
                </li>
            </ul>
          </div>

<div class="bfooter">
  <a class = "socialLink" href="#top">Back to top</a>
</div>

<script type="text/javascript" src="/js/show.js"></script>